<html>
  <head>
    <script>
      function number_pages() {
          var vars = {};
          var x = document.location.search.substring(1).split('&');
          for(var i in x) { var z = x[i].split('=', 2); vars[z[0]] = decodeURIComponent(z[1]);}
          var x = ['frompage','topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection'];
          for(var i in x) {
              var y = document.getElementsByClassName(x[i]);
              for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
          }
      }
    </script>
  </head>
  <body onload="number_pages()">
    <hr/>
    <table style="width:100%">
      <tr>
        <td style="width: 20%">Page <span class="page"></span> of <span class="topage"></span></td>
        <td style="width: 60%; text-align: center;">
          Produced by Rails Bookshelf copyright &copy;
          <%= mail_to 'john@john-breen.net', 'John Breen' %>, 2021</td>
        <td style="width: 20%; text-align: right"><%= pluralize Book.count, 'book' %></td>
      </tr>
    </table>
  </body>
</html>