/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require scaffolds
 *= require_self
 * require_tree .
 *= require authors
 */

body {
    background-color: #3c2f2f;
    color: #DFCCAF;
}

a:link {
    color: #BE9b7b
}
a:visited {
    color: #BE9b7b
}
a:hover {
    background-color: #be9b7b;
    color: #3c2f2f;
}
a:active {}

hr {
    border: 1px solid #6f4436;
}

button, submit {
    background-color: #300070;
}

div.error {
    border: 2px solid #be9b7b;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 3px;
    font-size: 12pt;
    background-color: #be9b7b;
    color: #3c2f2f;
}